<div mat-dialog-content align="center">
    <form>
        <mat-toolbar>
            <mat-toolbar-row>
                <span clas="title">Add Album</span>
                <span class="toolbar-item-spacer"></span>
                <button class="button-13" role="button" mat-dialog-close>Cancel</button>
            </mat-toolbar-row>
        </mat-toolbar>
        <br>
        <div>
            <h1>Photo Album Name</h1>
            <div>
                <mat-form-field appearance="fill">
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-action [align]="'end'">
            <button class="button-13" role="button" mat-dialog-close>Add</button>
        </div>
    </form>


</div>