<mat-toolbar class="navbar">

  <mat-toolbar-row>
    <span class="title">PhotoShare</span>
    <span class="toolbar-item-spacer"></span>
    <button (click)="onClick()" class="button-47" role="button">User Page</button>
    <button (click)="onClick2()" class="button-47" role="button">Logout</button>
  </mat-toolbar-row>
  <mat-toolbar-row><button class="button-54" role="button">Add Photo</button></mat-toolbar-row>

</mat-toolbar>




<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Photo1
    </mat-panel-title>

    <mat-panel-title>
      <button class="button-14" role="button">Remove</button>
    </mat-panel-title>

    <mat-panel-title>
      user


    </mat-panel-title>

    <mat-panel-description>
      caption
    </mat-panel-description>

  </mat-expansion-panel-header>
  <p> tags </p>
  <mat-icon>person_add</mat-icon>
  <button (click)="add_1()" mat-flat-button color="primary"> {{btn1}} </button>
  <comments currentUserId="1"></comments>

  <mat-action-row class="like">
    <p>{{this.num1}}</p>
    <button (click)="like_1()" mat-button> Like </button>
  </mat-action-row>

</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Photo2
    </mat-panel-title>

    <mat-panel-title>
      <button class="button-14" role="button">Remove</button>
    </mat-panel-title>

    <mat-panel-title>
      user
    </mat-panel-title>

    <mat-panel-description>
      caption
    </mat-panel-description>

  </mat-expansion-panel-header>
  <p> tags </p>

  <mat-icon>person_add</mat-icon>
  <button (click)="add_2()" mat-flat-button color="primary"> {{btn2}} </button>
  <comments currentUserId="2"></comments>

  <mat-action-row class="like">
    <p>{{this.num2}}</p>
    <button (click)="like_2()" mat-button> Like </button>
  </mat-action-row>

</mat-expansion-panel>






<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Photo3
    </mat-panel-title>

    <mat-panel-title>
      <button class="button-14" role="button">Remove</button>
    </mat-panel-title>

    <mat-panel-title>
      user
    </mat-panel-title>

    <mat-panel-description>
      caption
    </mat-panel-description>

  </mat-expansion-panel-header>
  <p> tags </p>
  <mat-icon>person_add</mat-icon>
  <button (click)="add_3()" mat-flat-button color="primary"> {{btn3}} </button>
  <comments currentUserId="1"></comments>

  <mat-action-row class="like">
    <p>{{this.num3}}</p>
    <button (click)="like_3()" mat-button> Like </button>
  </mat-action-row>

</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Photo4
    </mat-panel-title>

    <mat-panel-title>
      <button class="button-14" role="button">Remove</button>
    </mat-panel-title>

    <mat-panel-title>
      user
    </mat-panel-title>

    <mat-panel-description>
      caption
    </mat-panel-description>

  </mat-expansion-panel-header>
  <p> tags </p>
  <mat-icon>person_add</mat-icon>
  <button (click)="add_4()" mat-flat-button color="primary"> {{btn4}} </button>
  <comments currentUserId="1"></comments>

  <mat-action-row class="like">
    <p>{{this.num4}}</p>
    <button (click)="like_4()" mat-button> Like </button>
  </mat-action-row>

</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Photo5
    </mat-panel-title>

    <mat-panel-title>
      <button class="button-14" role="button">Remove</button>
    </mat-panel-title>

    <mat-panel-title>
      user
    </mat-panel-title>

    <mat-panel-description>
      caption
    </mat-panel-description>

  </mat-expansion-panel-header>
  <p> tags </p>
  <mat-icon>person_add</mat-icon>
  <button (click)="add_5()" mat-flat-button color="primary"> {{btn5}} </button>
  <comments currentUserId="1"></comments>

  <mat-action-row class="like">
    <p>{{this.num5}}</p>
    <button (click)="like_5()" mat-button> Like </button>
  </mat-action-row>

</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Photo6
    </mat-panel-title>

    <mat-panel-title>
      <button class="button-14" role="button">Remove</button>
    </mat-panel-title>

    <mat-panel-title>
      user
    </mat-panel-title>

    <mat-panel-description>
      caption
    </mat-panel-description>

  </mat-expansion-panel-header>
  <p> tags </p>
  <mat-icon>person_add</mat-icon>
  <button (click)="add_6()" mat-flat-button color="primary"> {{btn6}} </button>
  <comments currentUserId="1"></comments>

  <mat-action-row class="like">
    <p>{{this.num6}}</p>
    <button (click)="like_6()" mat-button> Like </button>>
  </mat-action-row>

</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Photo7
    </mat-panel-title>

    <mat-panel-title>
      <button class="button-14" role="button">Remove</button>
    </mat-panel-title>

    <mat-panel-title>
      user
    </mat-panel-title>

    <mat-panel-description>
      caption
    </mat-panel-description>

  </mat-expansion-panel-header>
  <p> tags </p>
  <mat-icon>person_add</mat-icon>
  <button (click)="add_7()" mat-flat-button color="primary"> {{btn7}} </button>
  <comments currentUserId="1"></comments>

  <mat-action-row class="like">
    <p>{{this.num7}}</p>
    <button (click)="like_7()" mat-button> Like </button>
  </mat-action-row>

</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Photo8
    </mat-panel-title>

    <mat-panel-title>
      <button class="button-14" role="button">Remove</button>
    </mat-panel-title>

    <mat-panel-title>
      user
    </mat-panel-title>

    <mat-panel-description>
      caption
    </mat-panel-description>

  </mat-expansion-panel-header>
  <p> tags </p>
  <mat-icon>person_add</mat-icon>
  <button (click)="add_8()" mat-flat-button color="primary"> {{btn8}} </button>
  <comments currentUserId="1"></comments>

  <mat-action-row class="like">
    <p>{{this.num8}}</p>
    <button (click)="like_8()" mat-button> Like </button>
  </mat-action-row>

</mat-expansion-panel>






<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Photo9
    </mat-panel-title>

    <mat-panel-title>
      <button class="button-14" role="button">Remove</button>
    </mat-panel-title>

    <mat-panel-title>
      user
    </mat-panel-title>

    <mat-panel-description>
      caption
    </mat-panel-description>

  </mat-expansion-panel-header>
  <p> tags </p>
  <mat-icon>person_add</mat-icon>
  <button (click)="add_9()" mat-flat-button color="primary"> {{btn9}} </button>
  <comments currentUserId="1"></comments>

  <mat-action-row class="like">
    <p>{{this.num9}}</p>
    <button (click)="like_9()" mat-button> Like </button>
  </mat-action-row>

</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Photo10
    </mat-panel-title>

    <mat-panel-title>
      <button class="button-14" role="button">Remove</button>
    </mat-panel-title>

    <mat-panel-title>
      user
    </mat-panel-title>

    <mat-panel-description>
      caption
    </mat-panel-description>

  </mat-expansion-panel-header>
  <p> tags </p>
  <mat-icon>person_add</mat-icon>
  <button (click)="add_10()" mat-flat-button color="primary"> {{btn10}} </button>
  <comments currentUserId="1"></comments>

  <mat-action-row class="like">
    <p>{{this.num10}}</p>
    <button (click)="like_10()" mat-button> Like </button>
  </mat-action-row>

</mat-expansion-panel>


<div class="icon">
  <mat-icon [inline]="true">group</mat-icon>
</div>

<button class="button-16" role="button">Friends</button>



<mat-table [dataSource]="dataSource4">





  <ng-container matColumnDef="fname">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>

    <mat-cell *matCellDef="let photo"> {{photo.fname}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="lname">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let photo"> {{photo.lname}}</mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns4"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns4;"></mat-row>

</mat-table>

<button class="button-16" role="button">Top 5 Contributors</button>




<mat-table [dataSource]="dataSource3">


  <ng-container matColumnDef="score">
    <mat-header-cell *matHeaderCellDef>score</mat-header-cell>
    <mat-cell *matCellDef="let photo"> {{photo.score}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="fname">
    <mat-header-cell *matHeaderCellDef>first name</mat-header-cell>
    <mat-cell *matCellDef="let photo"> {{photo.fname}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="lname">
    <mat-header-cell *matHeaderCellDef>last name</mat-header-cell>
    <mat-cell *matCellDef="let photo"> {{photo.lname}}</mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns3;"></mat-row>

</mat-table>




<mat-toolbar class="navbar">
  <mat-form-field>
    <input (keyup)="applyFilter2($any($event.target).value)" matInput placeholder="Search feed by user/tag...">
  </mat-form-field>
  <mat-toolbar-row></mat-toolbar-row>

</mat-toolbar>


<mat-table [dataSource]="dataSource2">




  <ng-container matColumnDef="caption">
    <mat-header-cell *matHeaderCellDef>caption</mat-header-cell>
    <mat-cell *matCellDef="let photo"> {{photo.caption}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="data">
    <mat-header-cell *matHeaderCellDef>data</mat-header-cell>
    <mat-cell *matCellDef="let photo"> {{photo.data}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="tag">
    <mat-header-cell *matHeaderCellDef>tag</mat-header-cell>
    <mat-cell *matCellDef="let photo"> {{photo.tag}}</mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>

</mat-table>




<mat-toolbar class="navbar">
  <mat-form-field>
    <input (keyup)="applyFilter($any($event.target).value)" matInput placeholder="Search albums...">
  </mat-form-field>

  <mat-toolbar-row><button class="button-54" role="button">Add Album</button></mat-toolbar-row>

</mat-toolbar>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="user_id">
    <mat-header-cell *matHeaderCellDef>user_id</mat-header-cell>
    <mat-cell *matCellDef="let album"> {{album.user_id}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let album"> {{album.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="album_id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let album">{{album.album_id}}</mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
